.chat-card {
  margin-bottom: 1.25rem;
  cursor: pointer;
}

.card-img.chat-img {
  border-radius: 50% !important;
  margin-left: 1rem;
  object-fit: cover;
}

svg {
  padding-right: 1rem;
}

svg.new-group {
  margin-right: 0.75rem;
}
