.chat-card {
    margin-bottom: 1.25rem;
    /* height: 6.25rem; */
    cursor: pointer;
}

.chat-img {
  width: 15%;
  height: auto;
  border-radius: 50%;
}

/* svg {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
} */
