svg {
    padding-left: 0.5rem;
}

.event-card, .meet-link {
    cursor: pointer;
}

.event-card {
    font-family: var(--bs-body-font-family);
}

.standalone.view-all > p {
    padding-bottom: 0.75rem;
}